.login{
    height: 100%;
    background-color: lightgray;
}
.login form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    width: 300px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
    background-color: gray;
    padding: 20px;
    color: white;
    box-shadow: 0 0 5px black;
}
.login form label{
    margin-bottom: 2px;
}
.login form input{
    display: block;
    box-sizing: border-box;
}
.login form input:not([type='submit']){
    height: 30px;
    font-size: 20px;
}
.login form input:not([type='submit']):first-child{
    margin-bottom: 10%;
}
.login form input[type='submit'], .reg-button{
    margin: 5% auto;
    margin-bottom: 0;
    width: 50%;
    height: 25px;
    border: none;
    font-weight: bold;
    color: white;
    background-color: #2554C7;
    border-radius: 5px;
}
.login form input[type='submit']:hover {
    cursor: pointer;
    color: white;
    background-color: #0020C2;
}
a.reg-button{
    text-decoration: none;
    text-align: center;
    width: 30%;
    background-color: #000000;
}
a.reg-button:hover{
    color: black;
    background-color: lightgray;
}
.form-buttons{
    display: flex;
    justify-content: space-around;
}
.error_message{
    color: red;
}