nav{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    background-color: gray;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex: auto;
}
nav a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 20px;
    transition: background-color 0.25s ease-in-out;
}
nav a:hover, nav a.current:hover{
    background-color: lightgray;
    color: black;
}
nav a.current{
    background-color: #666;
}