#main_container{
    flex: 1;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
}
#main_container *{
    font-size: 16px;
    font-family: 'Consolas';
}
#command_form{
    width: calc(100% - 20px);
    padding: 10px;
    padding-top: 0;
    margin: 0;
    display: flex;
}
#command_form input{
    flex: 1;
    background-color: black;
    color: white;
    border: none;
}
#console_content{
    overflow-y: auto;
    word-wrap: break-word;
    margin: 10px;
    margin-bottom: 0;
    flex: 1;
    flex-basis: 0;
}
@keyframes blink {
    0% { opacity: 0; }
    49% { opacity: 0; }
    50% { opacity: 1; }
    99% { opacity: 1; }
    100% { opacity: 0; }
}
#loading span {
    animation-name: blink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}
#loading span:nth-child(2) {
    animation-delay: .2s;
}
#loading span:nth-child(3) {
    animation-delay: .4s;
}