#main_container{
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: fit-content(10%) auto;
    grid-row-gap: 5%;
    flex: auto;
}

header{
    grid-column: 1 / 3;
    grid-row: 1;
    padding-top: 2%;
    display: flex;
    margin: auto;
    justify-content: center;
    min-width: 80%;
    max-width: 95%;
}
header input{
    box-sizing: border-box;
    height: 100%;
    border: 1px solid black;
    padding: 2px 0;
    padding-left: 5px;
}
header form{ display: flex; }
header #changePathForm{ width: 70%; }
header #searchForm{ width: 30%; }
#searchForm input[type="search"]{ width: 100%; }
header input[name='currentPath']{ width: 95%; }

#info_pane{
    grid-column: 1;
    grid-row: 2 / 3;
    border-right: 1px solid lightgray;
    padding: 10px;
}

#main_zone{
    overflow-y: scroll;
    grid-row: 2;
    grid-column: 2;
}
#files_zone{
    padding: 1% 2% 0 2%;
}
.file-item{
    padding: 1px;
    display: flex;
    user-select: none;
    -moz-user-select: none;
}
.file-item p{
    margin: 0;
}
.file-item:hover{
    background-color: rgb(229, 243, 255);
}
.file-item.was-selected{
    border: 1px solid rgb(153, 209, 255);
    padding: 0;
}
.file-item:active, .file-item.selected{
    background-color: rgb(204, 232, 235);
    border: 1px solid rgb(153, 209, 255);
    padding: 0;
}
.file-item-icon{
    position: relative;
    margin-right: 20px;
}
.file-item-icon img{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.file-context-menu{
    position: absolute;
    background-color: rgb(242, 242, 242);
    z-index: 1;
    border: 1px solid gray;
    padding: 3px;
}
.file-context-menu ul{
    padding: 0;
    margin: 0;
}
.file-context-menu ul li{
    list-style-type: none;
    margin: 1px;
}
.file-context-menu ul li > div{
    padding: 2px 10px;
    display: flex;
    position: relative;
    cursor: default;
    user-select: none;
    -moz-user-select: none;
}
.file-context-menu ul li > div span{
    padding-left: 10px;
}
.file-context-menu ul li > div:hover{
    background-color: rgb(217, 217, 217);
}
.context-menu-icon{
    width: 20px;
    height: 20px;
}
.context-menu-icon.icon-trash{ background-image: url('../icon/trash.ico'); }
.context-menu-icon.icon-download{ background-image: url('../icon/download.ico'); }
.context-menu-icon.icon-upload{ background-image: url('../icon/upload.ico'); }
.context-menu-icon.icon-folder{ background-image: url('../icon/folder_md.ico'); }

@media only screen and (max-width: 768px){
    #info_pane{
        grid-column: 1 / 3;
        grid-row: 3;
        border-right: none;
        border-top: 1px solid lightgray;
    }
    #main_zone{
        overflow-y: scroll;
        grid-column: 1 / 3;
    }
}