#main_container{ height: 100%; }
#logs_container{
    padding-top: 10px;
    height: calc(100% - 10px);
    background-color: black;
}
#logs_container *{
    color: white;
    font-family: 'Consolas';
}
#logs_container table tr td{
    padding-left: 10px;
}
#logs_container table tr td:first-child{
    color: green;
}
#logs_container table tr td:nth-child(2){
    color: orange;
}