<html>
    <head>
        <meta charset="utf-8" />
        <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' />
        <link rel="stylesheet" href="/style/style.css" />
        <link rel="stylesheet" href="/style/menu.css" />
        <script src="/js/jquery-3.4.0.min.js"></script>
    </head>
    <body>