<nav>
    <ul>
        <li><a id="_link" href="/">Home</a></li>
        <li><a id="storage_link" href="/storage">Storage</a></li>
        <li><a id="logs_link" href="/logs">Logs</a></li>
    </ul>
    <a href="/logout">Log out</a>
</nav>
<script>
    $(document).ready(function(){
        $("#"+window.location.pathname.replace("/", "")+"_link").addClass("current");
    });
</script>