<%- include('../headers/header'); %>
<script type="text/javascript">
    $("head").append('<link rel="stylesheet" href="<%=themepath%>/style/main.css" />');
    $("head").append('<link rel="stylesheet" href="<%=themepath%>/style/console.css" />');
</script>
<%- include('../headers/menu'); %>
<script src="/js/console/main.js"></script>
<script src="/js/console/interface.js"></script>
<div id="main_container">
    <pre id="console_content"></pre>
    <form id="command_form">
        <label for="command"><%=username%>@<span id="serveraddress"></span> >&nbsp;</label>
        <input type="text" name="command" autofocus/>
    </form>
</div>
<%- include('../headers/footer'); %>