<%- include('../headers/header'); %>
<script type="text/javascript">
    $("head").append('<link rel="stylesheet" href="<%=themepath%>/style/main.css" />');
</script>
<link rel="stylesheet" href="/style/login.css" />
<div class="login">
    <form method="POST" action='/login' id="loginform">
        <label for="login">Login</label>
        <input type="text" name="login" autocomplete="username" required="required" />
        <label for="password">Password</label>
        <input type="password" name="password" autocomplete="current-password" required="required" />
        <div class="error_message"><%= message %>
        <div class="form-buttons">
            <input type="submit" value="Connect" />
            <a href="/register" class="reg-button">Register</a>
        </div>
    </form>
</div>
<%- include('../headers/footer'); %>