<%- include('../headers/header'); %>
<script type="text/javascript">
    $("head").append('<link rel="stylesheet" href="<%=themepath%>/style/main.css" />');
    $("head").append('<link rel="stylesheet" href="<%=themepath%>/style/logs.css" />');
</script>
<%- include('../headers/menu'); %>
<div id="main_container">
    <div id="logs_container">
        <table>
        <% logs.forEach(log => { %>
            <%-log%>
        <% }); %>
        </table>
    </div>
</div>
<%- include('../headers/footer'); %>