<%- include('../headers/header'); %>
<script type="text/javascript">
    $("head").append('<link rel="stylesheet" href="<%=themepath%>/style/main.css" />');
    $("head").append('<link rel="stylesheet" href="<%=themepath%>/style/filemanager.css" />');
</script>
<%- include('../headers/menu'); %>
<script src="/js/filemanager/interface.js"></script>
<script src="/js/filemanager/main.js"></script>
<div id="main_container">
    <header>
        <form id="changePathForm">
            <input type="text" name="currentPath" value="<%=curdirectory%>" placeholder="Path..."/>
        </form>
        <form id="searchForm">
            <!--<input type="search" name="search" placeholder="Search for files..."/>-->
        </form>
        <p>Usage: right click on right side</p>
    </header>
    <div id="info_pane">
        <h3 class="fileinfo_name"></h3>
        <p class="fileinfo_type"></p>
        <img class="fileinfo_icon" />
        <div class="fileinfo_more">
            <div class="fileinfo_dateupload">
                <span class="fileinfo_label"></span>
                <span class="fileinfo_data"></span>
            </div>
            <div class="fileinfo_size">
                <span class="fileinfo_label"></span>
                <span class="fileinfo_data"></span>
            </div>
            <div class="fileinfo_download">
                <span colspan="2">
                    <button style="display: none;"></button>
                </span>
            </div>
        </div>
    </div>
    <div id="main_zone">
        <div id="files_zone"></div>
        <div style="display: none;" class="file-context-menu" id="context-menu-files_zone">
            <ul>
                <li>
                    <div onclick="triggerupload()">
                        <div class='context-menu-icon icon-upload'></div>
                        <span>Upload files</span>
                    </div>
                    <form style="display: none;" enctype="multipart/form-data">
                        <input onchange="uploadFile()" type="file" id="file-uploader" multiple="multiple" />
                    </form>
                </li>
                <li>
                    <div onclick="pasteFile()">
                        <div class='context-menu-icon'></div>
                        <span>Paste</span>
                    </div>
                </li>
                <li>
                    <div onclick="createFolder()">
                        <div class='context-menu-icon icon-folder'></div>
                        <span>Create folder</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<%- include('../headers/footer'); %>